#root{
  margin: 0 auto;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fs-25{
  font-size: .25rem;
}
.fs-50{
  font-size: .50rem;
}
.fs-75{
  font-size: .75rem;
}
.fs-125{
  font-size: 1.25rem;
}
.fs-150{
  font-size: 1.50rem;
}
.fs-175{
  font-size: 1.75rem;
}

.active{
  background-color: dodgerblue;
  text-decoration: none;
  color: #fff;
  border-radius: 3rem;
  padding: .5rem 1rem;
}

td{
  vertical-align: middle;
}